body {
  background-color: rgb(133, 136, 133);
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Coming Soon", cursive;
  color: rgb(78, 44, 12);
  text-shadow: 0 0 1px rgb(43, 24, 7);
}

button {
  color: rgb(94, 81, 83);
  font-family: "Coming Soon", cursive;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: pink;
  border: 1px solid rgb(139, 118, 122);
  outline: none;
  border-radius: 0.8em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

button:hover {
  color: pink;
  background-color: rgb(139, 118, 122);
  border: 1px solid pink;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapper {
  text-align: center;
  padding: 1em;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 5px;
  background-color: darkgray;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
